{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Login{% endblock %}
{% block navbar %}
    {{ wtf.quick_form(form) }}
 <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
            <li><a href="{{ url_for('logout') }}">退出</a></li>
{#            <li><a href="">退出</a></li>#}
            {% else %}
            <li><a href="{{ url_for('login') }}">登陆</a></li>
{#           <li><a href="">登陆</a></li>#}
            {% endif %}
            </ul>
{% endblock %}
{% block content %}
<div class="page-header">
<h1>登陆</h1>
</div>
<div class="col-md-4">
{{ wtf.quick_form(form) }}
</div>
{% endblock %}